.#{$dp-ns}container {
    table, tbody, td {
        border-spacing: 2px;
    }
    thead {
        border-spacing: 0;
    }
    @include themify($themes) {
        i.fa {
            margin-left: 5px;
            margin-top: 1px;
            float: right;
        }
        .#{$dp-ns}date-input {
            background: themed('color-bg-light-gray');
            color: themed('color-text');
            padding:5px;
            cursor: pointer;
            width: 350px;
            font-size:13px;
            position:relative;
            margin-bottom: 10px;
            line-height: 1.5;
            border-bottom: 1px solid themed('color-grey-white');
            align-self: center;
            display: grid;
            grid-template-columns: 1fr 25px;
        }
        .#{$dp-ns}wrapper {
            border-top: 1px solid themed('color-border-primary');
            border-bottom: 1px solid themed('color-border-primary');
            padding: 0;
            margin: 0;
            font-size: 12px;
            display: flex;
            &.#{$dp-ns}calendar-tab {
                width: min-content;
            }
            .#{$dp-ns}calendar {
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
                .#{$dp-ns}yr-label-wrapper, .#{$dp-ns}range-label-wrapper {
                    display: grid;
                    grid-template-columns: 25px 1fr 25px;
                    text-align: center;
                    background: themed('color-bg-light-gray');
                    color: themed('color-grey-white');
                    padding: 5px;
                    border-bottom: 1px solid themed('color-border-primary');
                    .#{$dp-ns}yr-btn, .#{$dp-ns}range-btn {
                        @extend .#{$dp-ns}hover-date;
                    }
                    .#{$dp-ns}yr-prev, .#{$dp-ns}range-prev {
                        color: themed('color-primary');
                    }
                    .#{$dp-ns}yr-next, .#{$dp-ns}range-next {
                        color: themed('color-primary');
                    }
                    .#{$dp-ns}yr-label, .#{$dp-ns}range-label {
                        line-height: 1.5;
                        white-space: nowrap;
                    }
                }
                .#{$dp-ns}body--container {
                    display: grid;
                    background: themed('color-bg-light-gray');
                }
                &.#{$dp-ns}full-calendar, &.#{$dp-ns}three-months {
                    .#{$dp-ns}qtr-row {
                        height: 100%;
                        width: 100%;
                        display: grid;
                        grid-auto-flow: dense;
                        grid-template-columns: 20px 1fr 1fr 1fr;
                        .#{$dp-ns}qtr-label {
                            display: grid;
                            background: themed('color-bg-light-gray');
                            text-align: center;
                            color: themed('color-text');
                            padding: 2px;
                            margin-right: -1px;
                            &:not(.#{$dp-ns}disabled) {
                                @extend .#{$dp-ns}hover-date;
                            }
                        }
                    }
                }
                .#{$dp-ns}months-row {
                    height: 100%;
                    width: 100%;
                    display: grid;
                    grid-auto-flow: dense;
                }
                &.#{$dp-ns}two-months {
                    .#{$dp-ns}months-row {
                        grid-template-columns: 1fr 1fr;
                    }
                }
                &.#{$dp-ns}one-month {
                    .#{$dp-ns}months-row {
                        grid-template-columns: 1fr;
                    }
                }
                .#{$dp-ns}month-label {
                    align-items: center;
                    justify-content: center;
                    background: themed('color-primary-dark');
                    color: themed('color-white');
                    display: flex;
                    &:not(.#{$dp-ns}disabled) {
                        @extend .#{$dp-ns}hover-date;
                    }
                }
                .#{$dp-ns}week-days {
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                }
                .#{$dp-ns}dow {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 9px;
                    font-weight: normal;
                    background: themed('color-secondary');
                    color: themed('color-text');
                }
                .#{$dp-ns}month {
                    border: solid 1px themed('color-border');
                    display: grid;
                    grid-auto-flow: dense;
                    grid-template-rows: repeat(6, 1fr);
                    grid-template-columns: repeat(7, 1fr);
                    .border-b {
                        border-bottom: solid 1px themed('color-border');
                    }
                    .border-r {
                        border-right: solid 1px themed('color-border');
                    }
                    .#{$dp-ns}day-filler {
                        background: themed('color-secondary');
                    }
                    .#{$dp-ns}day {
                        font-size: 11.5px;
                        color: themed('color-primary');
                        background: themed('color-secondary');
                        &:not(.#{$dp-ns}disabled) {
                            @extend .#{$dp-ns}hover-date;
                        }
                        &.#{$dp-ns}hovered-range {
                            color: themed('color-text-primary');
                            background: themed('color-dp-hover');
                        }
                    }
                    .#{$dp-ns}selected-range {
                        color: themed('color-text-primary');
                        background: themed('color-dp-hover');
                    }
                    .#{$dp-ns}start {
                        .#{$dp-ns}bubble {
                            border-radius: 3px 0 0 3px;
                        }
                    }
                    .#{$dp-ns}end {
                        &.#{$dp-ns}start {
                            .#{$dp-ns}bubble {
                                border-radius: 3px;
                            }
                        }
                        .#{$dp-ns}bubble {
                            border-radius: 0 3px 3px 0;
                        }
                    }
                    .#{$dp-ns}start, .#{$dp-ns}end {
                        background: themed('color-dp-hover');
                        .#{$dp-ns}bubble {
                            background: themed('color-primary');
                            color: themed('color-white');
                        }
                    }
                    .#{$dp-ns}bubble {
                        box-sizing: border-box;
                        padding: 0 4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                    }
                }
            }
            .#{$dp-ns}larger-months {
                .#{$dp-ns}month-wrapper {
                    .#{$dp-ns}day {
                        font-size: 14px;
                    }
                    .#{$dp-ns}dow {
                        font-size: 11px;
                    }
                    .#{$dp-ns}month-label {
                        font-size: 14px;
                    }
                }
            }
            .#{$dp-ns}header {
                display: grid;
                &.#{$dp-ns}show-presets {
                    grid-template-columns: repeat(2, 1fr);
                }
                &.#{$dp-ns}hide-presets {
                    grid-template-columns: 1fr;
                }
                align-content: center;
                color: themed('color-primary');
                font-weight: bold;
                >div {
                    background: themed('color-secondary');
                    color: themed('color-text-primary-white');
                    text-align: center;
                }
                .#{$dp-ns}presets-btn {
                    padding: 7px;
                    &:hover {
                        cursor: pointer;
                        background: themed('color-bg-primary');
                        color: themed('color-text-primary-selected');
                    }
                    &.selected {
                        background: themed('color-bg-primary');
                        color: themed('color-text-primary-selected');
                    }
                }
            }
            .#{$dp-ns}presets {
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
                display: flex;
                flex-direction: column;
                background: themed('color-secondary');
                .#{$dp-ns}preset {
                    margin-left: 3px;
                    color: themed('color-text');
                    border-bottom: 1px solid themed('color-border-primary');
                    white-space: nowrap;
                    &:not(.#{$dp-ns}no-presets) {
                        @extend .#{$dp-ns}hover-date;
                    }
                }
                .#{$dp-ns}buttons {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    margin-top: auto;
                }
                .#{$dp-ns}btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 3px;
                    font-size: 14px;
                    color: themed('color-text');
                    @extend .#{$dp-ns}hover-date;
                }
                .#{$dp-ns}presets-header {
                    height: 28px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: themed('color-header-black-white');
                    border-bottom: 1px solid themed('color-border-primary');
                    font-size: 13px;
                    font-weight: bold;
                }
            }
        }

        .#{$dp-ns}hover-date {
            cursor: pointer;
            &:hover {
                background: rgba(themed('color-dp-hover'), 0.8);
            }
        }

        .#{$dp-ns}disabled {
            text-decoration: line-through;
            cursor: not-allowed;
            color: themed('color-header-text');
        }

        .#{$dp-ns}today {
            font-weight: bold;
            text-decoration: underline;
        }

        .#{$dp-ns}box-shadow {
            -moz-box-shadow: 3px 3px 14px 0 rgba(themed('color-grey-white'),0.4);
            -webkit-box-shadow: 3px 3px 14px 0 rgba(themed('color-grey-white'),0.4);
            box-shadow: 3px 3px 14px 0 rgba(themed('color-grey-white'),0.4);
        }
    }
}