.elm-fancy--daterangepicker {
  @include themify($themes) {
    font-size: 14px;
    background: themed('color-bg-light-gray');
    width: max-content;
    box-shadow: 0 1px 3px rgba(60,64,67, 0.3), 0 4px 8px 3px rgba(60,64,67, 0.15);
    border-radius: 6px;
    .top-bar {
      display: grid;
      grid-template-columns: minmax(0, 1fr) 1fr;
    }
    .top-bar--reset {
      display: flex;
      justify-self: right;
      align-self: center;
      padding: 0 10px;
    }
    .calendar-input {
      padding: 5px 0;
      > input {
        width: calc(100% - 10px);
      }
    }
    .range-selector {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      text-align: center;
    }
    .range-selector--button{
      cursor: pointer;
      &:hover {
        background: darken(themed('color-bg-light-gray'), 5);
      }
    }
    .second-row{
      display: grid;
      grid-template-columns: max-content max-content max-content;
    }
    .quarters{
      display: grid;
      grid-template-rows: repeat(4, 1fr);
    }
    .month {
      border: solid 1px themed('color-border');
      background: themed('color-secondary');
      display: grid;
      grid-template-rows: repeat(6, 1fr);
      grid-template-columns: repeat(7, 1fr);
    }
    .month--header {
      text-align: center;
      font-size: 14px;
      &:hover {
        background: darken(themed('color-bg-light-gray'), 5);
        cursor: pointer;
      }
    }

    .year {
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(3, 1fr);
    }

    .day {
      text-align: center;
      font-size: 12px;
      padding: 1px 4px;
      color: themed('color-primary');
      cursor: pointer;
    }

    .today {
      text-decoration: underline;
    }
    .selected-range {
      background-color: pink;
    }
    .border-selection {
      background-color: red;
    }

  }

}