.#{$dp-ns}container {
    @include themify($themes) {
        i.fa {
            margin-left: 5px;
            margin-top: 1px;
            float: right;
        }
        .#{$dp-ns}date-input {
            background: themed('color-bg-light-gray');
            color: themed('color-text');
            padding:5px;
            cursor: pointer;
            width: 350px;
            font-size:13px;
            position:relative;
            margin-bottom: 10px;
            line-height: 1.5;
            border-bottom: 1px solid themed('color-box-shadow');
            align-self: center;
            display: grid;
            grid-template-columns: 1fr 25px;
        }
        .#{$dp-ns}wrapper {
            padding: 0px;
            margin: 0px;
            font-size: 14px;
            display: grid;
            &.#{$dp-ns}calendar-tab {
                grid-template-rows: 30px 1fr 50px;
                &.#{$dp-ns}full-calendar, &.#{$dp-ns}three-months {
                    width: 600px;
                }
                &.#{$dp-ns}two-months {
                    width: 400px;
                }
                &.#{$dp-ns}one-month {
                    width: 200px;
                }
            }
            &.#{$dp-ns}presets-tab {
                grid-template-rows: 30px 1fr;
                width: 400px;
            }
            background: themed('color-border-primary');
            .#{$dp-ns}calendar {
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
                height: 100%;
                width: 100%;
                display: grid;
                grid-template-columns: 1fr;
                grid-auto-flow: dense;
                grid-gap: 1px;
                .#{$dp-ns}yr-label-wrapper, .#{$dp-ns}range-label-wrapper {
                    display: grid;
                    grid-template-columns: 25px 1fr 25px;
                    text-align: center;
                    background: themed('color-bg-light-gray');
                    color: themed('color-text-black-white');
                    padding: 5px;
                    border-top: 1px solid themed('color-border-primary');
                    .#{$dp-ns}yr-btn, .#{$dp-ns}range-btn {
                        @extend .#{$dp-ns}hover-date;
                    }
                    .#{$dp-ns}yr-prev, .#{$dp-ns}range-prev {
                        color: themed('color-primary');
                    }
                    .#{$dp-ns}yr-next, .#{$dp-ns}range-next {
                        color: themed('color-primary');
                    }
                    .#{$dp-ns}yr-label, .#{$dp-ns}range-label {
                        line-height: 1.5;
                        white-space: nowrap;
                    }
                }
                .#{$dp-ns}body--container {
                    display: grid;
                    grid-row-gap: 1px;
                    background: themed('color-primary');
                }
                &.#{$dp-ns}full-calendar, &.#{$dp-ns}three-months {
                    .#{$dp-ns}qtr-row {
                        height: 100%;
                        width: 100%;
                        display: grid;
                        grid-auto-flow: dense;
                        grid-gap: 1px;
                        grid-template-columns: 20px 1fr 1fr 1fr;
                        .#{$dp-ns}qtr-label {
                            display: grid;
                            background: themed('color-bg-light-gray');
                            text-align: center;
                            color: themed('color-text');
                            padding: 2px;
                            margin-right: -1px;
                            &:not(.#{$dp-ns}disabled) {
                                @extend .#{$dp-ns}hover-date;
                            }
                        }
                    }
                }
                .#{$dp-ns}months-row {
                    height: 100%;
                    width: 100%;
                    display: grid;
                    grid-auto-flow: dense;
                    grid-gap: 1px;
                }
                &.#{$dp-ns}two-months {
                    .#{$dp-ns}months-row {
                        grid-template-columns: 1fr 1fr;
                    }
                }
                &.#{$dp-ns}one-month {
                    .#{$dp-ns}months-row {
                        grid-template-columns: 1fr;
                    }
                }
                .#{$dp-ns}month {
                    display: grid;
                    grid-auto-flow: dense;
                    grid-gap: 0px;
                    grid-template-rows: repeat(8, 1fr);
                    grid-template-columns: repeat(7, 1fr);
                    text-align: center;
                    >div:first-child {
                        grid-column-start: 1;
                        grid-column-end: 8;
                    }
                    > div.dow:not(:first-child) {
                        border-left: themed('color-secondary');
                    }
                    .#{$dp-ns}month-label {
                        background: themed('color-secondary');
                        color: themed('color-text');
                        &:not(.#{$dp-ns}disabled) {
                            @extend .#{$dp-ns}hover-date;
                        }
                    }
                    .#{$dp-ns}dow {
                        background: themed('color-secondary');
                        color: themed('color-text');
                    }
                    .#{$dp-ns}day-filler {
                        background: themed('color-secondary');
                    }
                    .#{$dp-ns}day {
                        color: themed('color-primary');
                        background: themed('color-secondary');
                        &:not(.#{$dp-ns}disabled) {
                            @extend .#{$dp-ns}hover-date;
                        }
                        &.#{$dp-ns}hovered-range {
                            background: themed('color-dp-hover');
                            font-weight: bold;
                        }
                    }
                    .#{$dp-ns}selected-range {
                        color: themed('color-text-primary');
                        background: themed('color-dp-hover');
                        .#{$dp-ns}bubble {
                            font-weight: bold;
                        }
                    }
                    .#{$dp-ns}start {
                        &.#{$dp-ns}end {
                            background: themed('color-secondary') !important;
                        }
                        &:not(.#{$dp-ns}end) {
                            background: linear-gradient(to left, themed('color-dp-hover') 50%, themed('color-secondary') 50%) !important;
                        }
                    }
                    .#{$dp-ns}end {
                        background: linear-gradient(to right, themed('color-dp-hover') 50%, themed('color-secondary') 50%) !important;
                    }
                    .#{$dp-ns}start, .#{$dp-ns}end {
                        .#{$dp-ns}bubble {
                            background: themed('color-primary');
                            color: themed('color-white');
                            width: 75%;
                            height: 100%;
                            border-radius: 75%;
                            margin: auto;
                            font-weight: bold;
                        }
                    }
                    .#{$dp-ns}bubble {
                        padding: 1px;
                    }
                }
            }
            .#{$dp-ns}header {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-content: center;
                color: themed('color-primary');
                font-weight: bold;
                >div {
                    background: themed('color-secondary');
                    color: themed('color-text-primary-white');
                    text-align: center;
                }
                .#{$dp-ns}presets-btn {
                    padding: 7px;
                    &:hover {
                        cursor: pointer;
                        background: themed('color-bg-primary');
                        color: themed('color-text-primary-selected');
                    }
                    &.selected {
                        background: themed('color-bg-primary');
                        color: themed('color-text-primary-selected');
                    }
                }
            }
            .#{$dp-ns}footer {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                border-top: themed('color-primary');
                background: themed('color-secondary');
                padding: 5px;
                align-items: center;
                margin-top: 1px;
                .round-btns {
                    border-radius: 15px;
                    width: fit-content;
                    height: fit-content;
                    padding: 5px;
                    width: 60px;
                    text-align: center;
                }
                .round-btns:first-child { 
                    border: 1px solid themed('color-border-primary');
                    color: themed('color-border-primary');
                    &:hover {
                        cursor: pointer;
                        background: themed('color-primary');
                        color: themed('color-white');
                    }
                }
                .round-btns:last-child {
                    background-color: themed('color-primary');
                    justify-self: right;
                    border: 1px solid themed('color-primary');
                    color: themed('color-white');
                    &:hover {
                        cursor: pointer;
                        background: themed('color-secondary');
                        color: themed('color-primary');
                    }
                }
            }
            .#{$dp-ns}presets {
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
                height: 100%;
                width: 100%;
                display: grid;
                grid-template-columns: 1fr;
                grid-auto-flow: dense;
                grid-gap: 1px;
                .#{$dp-ns}preset {
                    &:not(.#{$dp-ns}no-presets) {
                        @extend .#{$dp-ns}hover-date;
                    }
                    display: grid;
                    grid-template-columns: auto auto;
                    background: themed('color-secondary');
                    grid-gap: 5px;
                    padding: 5px;
                    .#{$dp-ns}preset-name {
                        font-size: 14px;
                    }
                    .#{$dp-ns}preset-value {
                        text-align: right;
                    }
                }
            }
        }
        
        .#{$dp-ns}hover-date {
            cursor: pointer;
            &:hover {
                background: rgba(themed('color-dp-hover'), 0.8);
            }
        }
        
        .#{$dp-ns}disabled {
            text-decoration: line-through !important;
            cursor: not-allowed !important;
            color: themed('color-header-text');
        }
        
        .#{dp-ns}btn {
            background: themed('color-bg-light-gray');
            color: grey;
            border-bottom: themed('color-primary');
            padding:3px 8px 3px 8px;
            cursor: pointer;
            .fa-calendar {
                color: themed('color-primary');
            }
        }

        .#{$dp-ns}today {
            font-weight: bold;
            text-decoration: underline;
        }

        .#{$dp-ns}box-shadow {
            -moz-box-shadow:    0 3px 8px 0 rgba(themed('color-box-shadow'),0.4), 0 0 0 1px rgba(themed('color-box-shadow'),0.08);
            -webkit-box-shadow: 0 3px 8px 0 rgba(themed('color-box-shadow'),0.4), 0 0 0 1px rgba(themed('color-box-shadow'),0.08);
            box-shadow:         0 3px 8px 0 rgba(themed('color-box-shadow'),0.4), 0 0 0 1px rgba(themed('color-box-shadow'),0.08);
        }
    }
}