$illum-color-blue: rgb(67, 130, 255);

$themes: (
        light: (
                color-secondary: white,
                color-border: rgb(232, 234, 237),
                color-bg-light-gray: rgb(245, 247, 250),
                box-shadow-selection1: 0 0 4px rgba(0, 0, 0, 0.12),
                box-shadow-selection2: 0 4px 4px rgba(0, 0, 0, 0.24),
                color-box-shadow-body1: rgba(60, 64, 67, 0.3),
                color-box-shadow-body2: rgba(60, 64, 67, 0.15),
                color-text-default: #3c4043,
                color-button-hover: #f8f9fa,
                color-input-focus: #f4f8ff,
                color-input-border: #dadce0,
                color-selected-range: rgb(218, 237, 253),
                color-disabled: rgba(60, 64, 67, 0.18),
        ),
        dark: (
                color-secondary: rgb(33, 33, 33),
                color-border: rgb(129, 129, 129),
                color-bg-light-gray: rgb(66, 66, 66),
                box-shadow-selection1: 0px 0px 5px -1px #f4f8ff,
                box-shadow-selection2: 0px 0px 0px 0px #f4f8ff,
                color-box-shadow-body1: rgba(60, 64, 67, 0.5),
                color-box-shadow-body2: rgba(60, 64, 67, 0.5),
                color-text-default: #818181,
                color-button-hover: #3b3c3d,
                color-input-focus: #3f4147,
                color-input-border: #696b6f,
                color-selected-range: rgb(55, 61, 70),
                color-disabled: rgb(62, 68, 72),
        )
);


@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {

    &.theme-#{$theme},
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }

  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
