$illum-color-blue: rgb(67, 130, 255);

$themes: (
        light: (
                color-secondary: white,
                color-border: rgb(232, 234, 237),
                color-bg-light-gray: rgb(245, 247, 250),
                box-shadow-selection1: 0 0 4px rgba(0, 0, 0, 0.12),
                box-shadow-selection2: 0 4px 4px rgba(0, 0, 0, 0.24),
                color-box-shadow-body1: rgba(60, 64, 67, 0.3),
                color-box-shadow-body2: rgba(60, 64, 67, 0.15),
                color-text-default: rgb(60, 64, 67),
                color-button-hover: rgb(248, 249, 250),
                color-input-focus: rgb(244, 248, 255),
                color-input-border: rgb(218, 220, 224),
                color-selected-range: rgb(218, 237, 253),
                color-disabled: rgba(60, 64, 67, 0.18),
        ),
        dark: (
                color-secondary: rgb(33, 33, 33),
                color-border: rgb(129, 129, 129),
                color-bg-light-gray: rgb(66, 66, 66),
                box-shadow-selection1: 0px 0px 5px -1px rgb(244, 248, 255),
                box-shadow-selection2: 0px 0px 0px 0px rgb(244, 248, 255),
                color-box-shadow-body1: rgba(60, 64, 67, 0.5),
                color-box-shadow-body2: rgba(60, 64, 67, 0.5),
                color-text-default: rgb(129, 129, 129),
                color-button-hover: rgb(59, 60, 61),
                color-input-focus: rgb(63, 65, 71),
                color-input-border: rgb(105, 107, 111),
                color-selected-range: rgb(55, 61, 70),
                color-disabled: rgb(62, 68, 72),
        )
);


@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {

    &.theme-#{$theme},
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }

  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
