// colors
$illum-color-gray: rgb(155,155,155);
$illum-color-blue: rgb(67,130,255);
$illum-color-dark-blue: #325FBD;
$illum-color-bg-white: rgb(245,247,250);
$illum-color-header-bg-white: rgb(249,252,255);
$illum-color-white: rgb(255,255,255);
$illum-color-blue-gray: rgb(227,235,251);
$illum-color-border-light-gray: rgb(232,234,237);
$illum-color-dark-gray: rgb(74,74,74);
$illum-fade-black: rgba(0,0,0,0.25);
$illum-color-bg-light-gray: rgb(245,247,250);
$illum-color-text-primary: rgb(67,130,255);
$dp-ns: elm-fancy-daterangepicker-- !default;
