$dp-ns: elm-daterangepicker-- !default;
$dp-bg-clr-hover: #ccc;
$dp-clr-disabled: grey;
$dp-clr-main: darkblue;
$dp-clr-secondary: white;
$dp-bg-clr-selected: grey;
$dp-arrow-left: '◄';
$dp-arrow-right: '►';



.#{$dp-ns}hover-date {
    cursor: pointer;
    &:hover {
        background: $dp-bg-clr-hover;
    }
}

.#{$dp-ns}disabled {
    text-decoration: line-through !important;
    cursor: not-allowed !important;
    color: $dp-clr-disabled !important;
}

.#{$dp-ns}container {
    i.fa {
        margin-right: 5px;
    }
    .#{$dp-ns}date-input {
        width: 175px;
        display:inline-block;
        -webkit-appearance:button;
        -moz-appearance: button;
        padding:3px 8px 3px 8px;
        font-size:13px;
        position:relative;
        cursor:context-menu;
    }
    .#{$dp-ns}wrapper {
        padding: 0px;
        margin: 0px;
        font-size: 12px;
        display: grid;
        width: 500px;
        background: $dp-clr-main;
        padding: 5px;
        .#{$dp-ns}calendar {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-flow: dense;
            grid-gap: 5px;
            .#{$dp-ns}yr-label-wrapper {
                display: grid;
                grid-template-columns: 25px auto 25px;
                text-align: center;
                background: $dp-clr-secondary;
                color: $dp-clr-main;
                .#{$dp-ns}yr-btn {
                    @extend .#{$dp-ns}hover-date;
                    font-weight: bold;
                }
                .#{$dp-ns}yr-prev:before {
                    content: $dp-arrow-left;
                }
                
                .#{$dp-ns}yr-next:before {
                    content: $dp-arrow-right;
                }
            }
            .#{$dp-ns}qtr-row {
                height: 100%;
                width: 100%;
                display: grid;
                grid-auto-flow: dense;
                grid-gap: 5px;
                grid-template-columns: 20px 1fr 1fr 1fr;
                .#{$dp-ns}qtr-label {
                    display: grid;
                    align-items: center;
                    background: $dp-clr-secondary;
                    text-align: center;
                    color: $dp-clr-main;
                    &:not(.#{$dp-ns}disabled) {
                        @extend .#{$dp-ns}hover-date;
                    }
                }
                .#{$dp-ns}month {
                    display: grid;
                    grid-auto-flow: dense;
                    grid-gap: 0px;
                    grid-template-rows: repeat(8, 1fr);
                    grid-template-columns: repeat(7, 1fr);
                    text-align: center;
                    >div:first-child {
                        grid-column-start: 1;
                        grid-column-end: 8;
                    }
                    > div.dow:not(:first-child) {
                        border-left: solid 1px $dp-clr-secondary;
                    }
                    .#{$dp-ns}month-label {
                        background: $dp-clr-secondary;
                        border-bottom: solid 1px $dp-clr-main;
                        color: $dp-clr-main;
                        &:not(.#{$dp-ns}disabled) {
                            @extend .#{$dp-ns}hover-date;
                        }
                    }
                    .#{$dp-ns}dow {
                        background: $dp-clr-secondary;
                        border-bottom: solid 1px $dp-clr-main;
                        color: $dp-clr-main;
                    }
                    .#{$dp-ns}day-filler {
                        background: $dp-clr-secondary;
                        opacity: 0.5;
                    }
                    .#{$dp-ns}day {
                        color: $dp-clr-main;
                        background: $dp-clr-secondary;
                        &:not(.#{$dp-ns}disabled) {
                            @extend .#{$dp-ns}hover-date;
                        }
                    }
                    .#{$dp-ns}selected-range {
                        background: $dp-bg-clr-selected;
                        color: $dp-clr-secondary;
                    }
                }
            }
        }
        .#{$dp-ns}header {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            color: $dp-clr-main;
            padding-bottom: 5px;
        }
        .#{$dp-ns}presets {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-flow: dense;
            grid-gap: 5px;
            .#{$dp-ns}preset {
                &:not(.#{$dp-ns}no-presets) {
                    @extend .#{$dp-ns}hover-date;
                    color: $dp-clr-main;
                }
                &.#{$dp-ns}no-presets {
                    color: $dp-clr-disabled;
                }
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                background: $dp-clr-secondary;
                grid-gap: 5px;
                padding: 5px;
                font-weight: bold;
                .#{$dp-ns}preset-name {
                    font-size: 14px;
                }
            }
        }
    }
}