.elm-fancy-daterangepicker--hover-date, .elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--calendar .elm-fancy-daterangepicker--yr-label-wrapper .elm-fancy-daterangepicker--yr-btn, .elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--calendar .elm-fancy-daterangepicker--qtr-row .elm-fancy-daterangepicker--qtr-label:not(.elm-fancy-daterangepicker--disabled), .elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--calendar .elm-fancy-daterangepicker--qtr-row .elm-fancy-daterangepicker--month .elm-fancy-daterangepicker--month-label:not(.elm-fancy-daterangepicker--disabled), .elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--calendar .elm-fancy-daterangepicker--qtr-row .elm-fancy-daterangepicker--month .elm-fancy-daterangepicker--day:not(.elm-fancy-daterangepicker--disabled), .elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--presets .elm-fancy-daterangepicker--preset:not(.elm-fancy-daterangepicker--no-presets) {
  cursor: pointer;
}
.elm-fancy-daterangepicker--hover-date:hover, .elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--calendar .elm-fancy-daterangepicker--yr-label-wrapper .elm-fancy-daterangepicker--yr-btn:hover, .elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--calendar .elm-fancy-daterangepicker--qtr-row .elm-fancy-daterangepicker--qtr-label:not(.elm-fancy-daterangepicker--disabled):hover, .elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--calendar .elm-fancy-daterangepicker--qtr-row .elm-fancy-daterangepicker--month .elm-fancy-daterangepicker--month-label:not(.elm-fancy-daterangepicker--disabled):hover, .elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--calendar .elm-fancy-daterangepicker--qtr-row .elm-fancy-daterangepicker--month .elm-fancy-daterangepicker--day:not(.elm-fancy-daterangepicker--disabled):hover, .elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--presets .elm-fancy-daterangepicker--preset:not(.elm-fancy-daterangepicker--no-presets):hover {
  background: #ccc;
}
.elm-fancy-daterangepicker--disabled {
  text-decoration: line-through !important;
  cursor: not-allowed !important;
  color: grey !important;
}
.elm-fancy-daterangepicker--container i.fa {
  margin-right: 5px;
}
.elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--date-input {
  width: 175px;
  display: inline-block;
  -webkit-appearance: button;
  -moz-appearance: button;
  padding: 3px 8px 3px 8px;
  font-size: 13px;
  position: relative;
  cursor: context-menu;
}
.elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  display: grid;
  width: 500px;
  background: darkblue;
  padding: 5px;
}
.elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--calendar {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: dense;
  grid-gap: 5px;
}
.elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--calendar .elm-fancy-daterangepicker--yr-label-wrapper {
  display: grid;
  grid-template-columns: 25px auto 25px;
  text-align: center;
  background: white;
  color: darkblue;
}
.elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--calendar .elm-fancy-daterangepicker--yr-label-wrapper .elm-fancy-daterangepicker--yr-btn {
  font-weight: bold;
}
.elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--calendar .elm-fancy-daterangepicker--yr-label-wrapper .elm-fancy-daterangepicker--yr-prev:before {
  content: '◄';
}
.elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--calendar .elm-fancy-daterangepicker--yr-label-wrapper .elm-fancy-daterangepicker--yr-next:before {
  content: '►';
}
.elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--calendar .elm-fancy-daterangepicker--qtr-row {
  height: 100%;
  width: 100%;
  display: grid;
  grid-auto-flow: dense;
  grid-gap: 5px;
  grid-template-columns: 20px 1fr 1fr 1fr;
}
.elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--calendar .elm-fancy-daterangepicker--qtr-row .elm-fancy-daterangepicker--qtr-label {
  display: grid;
  align-items: center;
  background: white;
  text-align: center;
  color: darkblue;
}
.elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--calendar .elm-fancy-daterangepicker--qtr-row .elm-fancy-daterangepicker--month {
  display: grid;
  grid-auto-flow: dense;
  grid-gap: 0px;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}
.elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--calendar .elm-fancy-daterangepicker--qtr-row .elm-fancy-daterangepicker--month > div:first-child {
  grid-column-start: 1;
  grid-column-end: 8;
}
.elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--calendar .elm-fancy-daterangepicker--qtr-row .elm-fancy-daterangepicker--month > div.dow:not(:first-child) {
  border-left: solid 1px white;
}
.elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--calendar .elm-fancy-daterangepicker--qtr-row .elm-fancy-daterangepicker--month .elm-fancy-daterangepicker--month-label {
  background: white;
  border-bottom: solid 1px darkblue;
  color: darkblue;
}
.elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--calendar .elm-fancy-daterangepicker--qtr-row .elm-fancy-daterangepicker--month .elm-fancy-daterangepicker--dow {
  background: white;
  border-bottom: solid 1px darkblue;
  color: darkblue;
}
.elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--calendar .elm-fancy-daterangepicker--qtr-row .elm-fancy-daterangepicker--month .elm-fancy-daterangepicker--day-filler {
  background: white;
  opacity: 0.5;
}
.elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--calendar .elm-fancy-daterangepicker--qtr-row .elm-fancy-daterangepicker--month .elm-fancy-daterangepicker--day {
  color: darkblue;
  background: white;
}
.elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--calendar .elm-fancy-daterangepicker--qtr-row .elm-fancy-daterangepicker--month .elm-fancy-daterangepicker--day.elm-fancy-daterangepicker--hovered-range {
  background: #ccc;
}
.elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--calendar .elm-fancy-daterangepicker--qtr-row .elm-fancy-daterangepicker--month .elm-fancy-daterangepicker--selected-range {
  background: grey;
  color: white;
}
.elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: darkblue;
  padding-bottom: 5px;
}
.elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--presets {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: dense;
  grid-gap: 5px;
}
.elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--presets .elm-fancy-daterangepicker--preset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: white;
  grid-gap: 5px;
  padding: 5px;
  font-weight: bold;
}
.elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--presets .elm-fancy-daterangepicker--preset:not(.elm-fancy-daterangepicker--no-presets) {
  color: darkblue;
}
.elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--presets .elm-fancy-daterangepicker--preset.elm-fancy-daterangepicker--no-presets {
  color: grey;
}
.elm-fancy-daterangepicker--container .elm-fancy-daterangepicker--wrapper .elm-fancy-daterangepicker--presets .elm-fancy-daterangepicker--preset .elm-fancy-daterangepicker--preset-name {
  font-size: 14px;
}
