* {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}

.hover-date {
    cursor: pointer;
    &:hover {
        background: #ccc;
    }
}

.full-year-calendar-wrapper {
    display: grid;
    width: 500px;
    margin: auto;
    background: darkblue;
    padding: 5px;
}

.full-year-calendar {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: dense;
    grid-gap: 5px;
}

.day-filler {
    background: darkblue;
}

.qtr-label {
    @extend .hover-date;
    display: grid;
    align-items: center;
    background: white;
    color: darkblue;
    text-align: center;
}

.yr-btn {
    @extend .hover-date;
    font-weight: bold;
}

.yr-label-wrapper {
    display: grid;
    grid-template-columns: 25px auto 25px;
    text-align: center;
    background: white;
    color: darkblue;
}

.month-label {
    @extend .hover-date;
    background: white;
    border-bottom: solid 1px darkblue;
    color: darkblue;
}

.dow {
    background: white;
    border-bottom: solid 1px darkblue;
    color: darkblue;
}

.qtr-row {
    height: 100%;
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-gap: 5px;
    grid-template-columns: 20px 1fr 1fr 1fr;
}

.month {
    display: grid;
    grid-auto-flow: dense;
    grid-gap: 0px;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    >div:first-child {
        grid-column-start: 1;
        grid-column-end: 8;
    }
    > div.dow:not(:first-child) {
        border-left: solid 1px white;
    }
}

.week {
    display: grid;
    grid-auto-flow: dense;
    grid-gap: 1px 1px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr
}

.day {
    @extend .hover-date;
    color: darkblue;
    background: white;
}