.elm-daterangepicker--hover-date {
    cursor: pointer;
    &:hover {
        background: #ccc;
    }
}

.elm-daterangepicker--disabled {
    text-decoration: line-through !important;
    cursor: not-allowed !important;
    color: grey !important;
}

.elm-daterangepicker--container {
    i.fa {
        margin-right: 5px;
    }
    .elm-daterangepicker--date-input {
        width: 175px;
        display:inline-block;
        -webkit-appearance:button;
        -moz-appearance: button;
        padding:3px 8px 3px 8px;
        font-size:13px;
        position:relative;
        cursor:context-menu;
    }
    .elm-daterangepicker--wrapper {
        padding: 0px;
        margin: 0px;
        font-size: 12px;
        display: grid;
        width: 500px;
        background: darkblue;
        padding: 5px;
        .elm-daterangepicker--calendar {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-flow: dense;
            grid-gap: 5px;
            .elm-daterangepicker--yr-label-wrapper {
                display: grid;
                grid-template-columns: 25px auto 25px;
                text-align: center;
                background: white;
                color: darkblue;
                .elm-daterangepicker--yr-btn {
                    @extend .elm-daterangepicker--hover-date;
                    font-weight: bold;
                }
                .elm-daterangepicker--yr-prev:before {
                    content: '◄';
                }
                
                .elm-daterangepicker--yr-next:before {
                    content: '►';
                }
            }
            .elm-daterangepicker--qtr-row {
                height: 100%;
                width: 100%;
                display: grid;
                grid-auto-flow: dense;
                grid-gap: 5px;
                grid-template-columns: 20px 1fr 1fr 1fr;
                .elm-daterangepicker--qtr-label {
                    display: grid;
                    align-items: center;
                    background: white;
                    text-align: center;
                    color: darkblue;
                    &:not(.elm-daterangepicker--disabled) {
                        @extend .elm-daterangepicker--hover-date;
                    }
                }
                .elm-daterangepicker--month {
                    display: grid;
                    grid-auto-flow: dense;
                    grid-gap: 0px;
                    grid-template-rows: repeat(8, 1fr);
                    grid-template-columns: repeat(7, 1fr);
                    text-align: center;
                    >div:first-child {
                        grid-column-start: 1;
                        grid-column-end: 8;
                    }
                    > div.dow:not(:first-child) {
                        border-left: solid 1px white;
                    }
                    .elm-daterangepicker--month-label {
                        background: white;
                        border-bottom: solid 1px darkblue;
                        color: darkblue;
                        &:not(.elm-daterangepicker--disabled) {
                            @extend .elm-daterangepicker--hover-date;
                        }
                    }
                    .elm-daterangepicker--dow {
                        background: white;
                        border-bottom: solid 1px darkblue;
                        color: darkblue;
                    }
                    .elm-daterangepicker--day-filler {
                        background: white;
                        opacity: 0.5;
                    }
                    .elm-daterangepicker--day {
                        color: darkblue;
                        background: white;
                        &:not(.elm-daterangepicker--disabled) {
                            @extend .elm-daterangepicker--hover-date;
                        }
                    }
                    .elm-daterangepicker--selected-range {
                        background: grey;
                        color: white;
                    }
                }
            }
        }
        .elm-daterangepicker--header {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            color: darkblue;
            padding-bottom: 5px;
        }
        .elm-daterangepicker--presets {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-flow: dense;
            grid-gap: 5px;
            .elm-daterangepicker--preset {
                @extend .elm-daterangepicker--hover-date;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                background: white;
                color: darkblue;
                grid-gap: 5px;
                padding: 5px;
                font-weight: bold;
                .elm-daterangepicker--preset-name {
                    font-size: 14px;
                }
            }
        }
    }
}

.date-wrapper {
    margin: 25px;
}