$blue: rgb(67,130,255);
body, html {
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 75px 1fr 1fr;
  grid-template-columns: 1fr;
  .calendar-display-options--container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    .calendar-display-options--wrapper {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(4, min-content);
      grid-gap: 10px;
      margin: auto;
      >div.calendar-display-option {
        align-self: center;
        span {
          height: 100%;
          width: 100%;
          border-radius: 15px;
          padding: 5px;
          border: solid 1px $blue;
          &:hover {
            cursor: pointer;
            color: pink;
          }
        }
        &.selected {
          span {
            background: $blue;
            color: white;
          }
        }
        &:not(.selected) {
          span {
            color: $blue;
            background: white;
          }
        }
        span:hover {
          background: darken($blue, 20);
          color: white;
        }
      }
    }
  }
  >.date-picker--wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .theme--wrapper {
      padding: 20px;
    }
    .theme-dark {
      background: black;
      color: white;
    }
  }
}